<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-secondary mb-3" id="Total-Orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-secondary mb-3 " id="orders-Delivered">
                <div class="card-header">
                    <h5 card-title>Ordes Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-secondary mb-3 " id="orders-Delivered">
                <div class="card-header">
                    
                    <h5 card-title>Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
</div>